.banner{
    margin: 0px;
    padding: 0px;
    display: flex;
   
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    height: 60px;
    /* font-family: Raleway, sans-serif; */
    color: white;
    background-image: linear-gradient(to right, #000000,  #7739eb, #f368ec, #000000);
    
    font-size: 15px;
    font-weight: 545;
    font-family: Poppins,sans-serif;
    line-height: 1.8;
    letter-spacing: -.02em;
}


.butt{
    color: #fff;
    white-space: nowrap;
    background-color: #000;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    padding: 8px 14px;
    font-size: 12px;
    font-weight: 600;
}
.butt:hover{
    background-color: white;
    color:  #7739eb;
}